# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# pythong virtual environments
venv/
# Python cache
__pycache__/
# Python bytecode
*.py[cod]
# Jupyter Notebook checkpoints
.ipynb_checkpoints
# Python egg files
*.egg
# Python distribution files
*.egg-info/
# Python virtual environment
# PyInstaller
# PyInstaller creates a build/ folder and a dist/ folder
# PyInstaller also creates a .spec file

# site packages
site-packages/
# Pytest cache
.cache/
# mypy cache
.mypy_cache/
